<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Edit Product</h3>
<p>
    <a th:href="@{/admin}">
        Back to customer list
    </a>
</p>
<div id="form">
    <form th:action="@{/admin/edit/{id}(id=${product.getId()})}" th:object="${product} " method="POST" enctype="multipart/form-data">
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price</label>
            <input type="text" th:field="*{price}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Avatar</label>
            <img th:src="@{'/content/' + ${product.getAvatar()}}" width="100" height="100" alt="Khongcoanh"/>
        </div>
        <div>
            <label>Avatar</label>
            <input type="file" th:field="*{image}"/>
        </div>
        <div>
            <label>TypeProduct</label>
            <select th:field="*{typeProduct}">
                <option th:each="t : ${typeproducts}" th:value="${t.id}" th:text="${t.type}"/>
            </select>
        </div>
        <input type="submit" value="Edit product">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>