<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Change your password</h3>
<p>
    <a th:href="@{/user/view}">
        Back to user information
    </a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>

<div id="form">
    <form th:action="@{/user/password}" th:object="${user} " method="POST">
        <div>
            <label>UserName</label>
            <input type="text" th:field="*{account}"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="pass"/>
        </div>
        <div>
            <label>NewPassword</label>
            <input type="password"/>
        </div>
        <div>
            <label>ReNewPassword</label>
            <input type="password" name="newpass"/>
        </div>
        <input type="submit" value="Change your password">
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>