<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>View User Information</h3>
<p>
    <a th:href="@{/user}">Back to home</a>
</p>

<a href="/user/information">Update Information</a> |
<a href="/user/password">Change password</a>

<div id="detail">
    <div class="cusdetail">
        <label>FullName:</label>
        <label th:text="${user.getName()}"></label>
    </div>
    <div class="cusdetail">
        <label>Age:</label>
        <label th:text="${user.getAge()}"></label>
    </div>
    <div class="cusdetail">
        <label>Render:</label>
        <label th:text="${user.getRender()}"></label>
    </div>
    <div class="cusdetail">
        <label>Address:</label>
        <label th:text="${user.getAddress()}"></label>
    </div>
    <div class="cusdetail">
        <label>Phone:</label>
        <label th:text="${user.getPhone()}"></label>
    </div>
    <div class="cusdetail">
        <label>Avatar:</label>
        <label><img th:src="@{'/content/' + ${user.getAvatar()}}" width="100" height="100" alt="Khongcoanh"/></label>
    </div>
</div>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>