<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            jQuery("#btn").click(function(){
                var data_test = $('#quality').val();;
                $.ajax({
                    url: 'cart/update',
                    type: 'POST',
                    data: 'string=' + data_test,
                    success: function (data) {
                        setTimeout(function(){
                            $('#demo-ajax').html(data);
                        },3000);
                    },
                    error: function (e) {
                        console.log(e.message);
                    }
                });
            });
            event.preventDefault();
        });
    </script>
</head>

<h3>Cart</h3>
<div id="demo-ajax"></div>
<!--<form th:action="/cart/update" method="post">-->
    <table id="customers">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Avatar</th>
            <th>Description</th>
            <th>Type</th>
            <th>Quality</th>
            <th>Total</th>
            <th>Xóa</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${session.cart}">
            <td id="quality" th:text="${item.product.getName()}"></td>
            <td th:text="${item.product.getPrice()}"></td>
            <td><img th:src="@{'/content/' + ${item.product.getAvatar()}}" width="100" height="100" alt="Khongcoanh"/></td>
            <td th:text="${item.product.getDescription()}"></td>
            <td th:text="${item.product.typeProduct.getType()}"></td>
            <td><button id="btn">Bớt</button></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.quantity*item.product.getPrice()}"></td>
            <td><a th:href="@{/cart/remove/{id}(id=${item.product.getId()})}">Xóa</a></td>
        </tr>
        <tr>
            <td colspan="7">Total: </td>
            <td th:text="${total}"></td>
        </tr>
        </tbody>
    </table>
<!--</form>-->
<a href="/cart/clear">Hủy</a> | <a href="/cart/save">Thanh toán</a>
<a href="/user">Continue Buy</a>
<script>

</script>

<footer th:replace="/layout :: footer"></footer>
</body>
</html>